@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@200&display=swap');

body{
    background-color: #f2f2f2;
    
}
.man_emp{
    background-color: white;
    width: 55%;
    padding: 2px 25px;
    margin-top: 10%;
    margin-left: 30%;
    margin-bottom: 10%;
    border-top: 5px solid blue;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.5);
}
.man_emp h2{
    font-size: 24px;
    line-height: 12px;
    padding: 10px;
    text-align: center;
}
.emp_manage{
    width: 0;

}
.table_info{
    width: 90%;
    position: relative;
    margin: 20px auto;
    
}